body {
    background-image:url("bmessi.jpg") ;
    background-size: cover;
}
.back {
    color: #000000;
    position: fixed;
    right: 100px;
    bottom: 30px;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-shadow: 4px 4px 4px #FFCFF6;
    white-space: nowrap;
}
